<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Payroll Automation Suite">

    <test name="Expense Voucher Test">
		
		<parameter name="browser"
                   value="chrome"/>

        <classes>

            <class name="test.TC276"/>
            
        </classes>

    </test>

</suite>